*{
    font-family: 'poppins' ,sans-serif;
    box-sizing: border-box;
}

body{
    background: #eef8ff;
    font-family: sans-serif;

}
.causes1{
    padding: 10px;
}
.causes1 ol li{
    padding:5px ;
}
.causes1 ol li ul li{
    list-style-type: disc;
}
.symp1{
    padding-bottom: 10px;
}
.pad1 li{
    list-style-type: square;
    padding: 5px;
}
.pre1{
    padding: 10px;
}
.pre1 li{
    list-style-type: square;
    padding: 5px;
}
.fud{
    padding: 10px;
}
.fud1 ul li{
    list-style-type: square;
}
.name1{
    padding: 15px;
    font-family: fantasy;
}
.colm{
    display: inline;
    align-items: start;
   margin-bottom: 20px;
   border: 3px solid black ;
    box-shadow: black;

    
}

.causes2 ul li{
    list-style-type: square;
    padding: 5px;
}
.symp2 ul li{
    list-style-type: square;
    padding: 5px;
}
.pre2 ul li{
    list-style-type: square;
    padding: 5px;
}
.lu ul li{
    list-style-type: none;
}

.about3 ol li{
    padding: 5px;
    list-style-type: none;
}
.about3 ul li{
    padding: 5px;
    list-style-type: square;
}
.causes3 ul li{
    padding: 5px;
    list-style-type: square;
}
.symp3 ol li{
    list-style-type: none;
    padding: 5px;
}
.symp3 ul li{
    list-style-type: square;
    padding: 5px;
}
.pre3 ul li{
    padding: 5px;
    list-style-type: square;
}

.causes4 ul li{
padding: 5px;
}
.causes4 ol li{
    padding: 5px;
    list-style-type: 1;
    }
.causes4 ol li ul li{
        padding: 5px;
        list-style-type: disc;
        }
 .symp4 ul li{
       padding: 5px;
  }         
  .symp4 ol li{
    padding: 5px;
    list-style: square;
}  
.pre4 ol li{
    padding: 5px;
    list-style-type: 1;
}
.pre4 ol li ul li{
    padding: 5px;
    list-style-type:disc;
}
.fud4 ol li{
    padding: 5px;
    list-style: 1;
}


.fud5 ol li{
    padding: 5px;
    list-style-type:1;
}
.fud5 ol li ul li{
    padding: 5px;
}
.pre5 ul li{
    list-style: square;
    padding: 5px;
}
.pre5 ul li ol li{
    list-style-type: none;
}
.symp5 ul li{
    list-style-type: square;
    padding: 5px;
}
.causes5 ol li{
list-style-type: none;
padding: 5px;
}
.causes5 ol li ul li{
    list-style-type: square;
 padding: 5px;
}
 .causes5 ol li ul li ol li{
        list-style-type: none;
        padding: 5px;
        }

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 20px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.nam{
    font-size: large;
    padding: 0;
    font-weight: bold;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 0px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width:100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16px;
    color: #ccc;

}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media(max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}