*{
    margin:0;
    padding: 0;
    box-sizing:  border-box;

}
header {
    position:fixed;
    width: 100%;
    left:0;
    top:0;
    padding: 0 22px;
}
.navbar{
    display: flex;
    align-items: center;
    max-width: 1750px;
    justify-content: space-between;
    padding: 12px 0;
}
.navbar .menu-btn{
    display: none;
    color: #fff;
    cursor:pointer;
    font-size: 1.9rem;
}

.navbar  .link .close-btn{
    display: none;
    color:black;
    position: absolute;
    right: 20px;
    top:20px;
    cursor:pointer;
    font-size: 1.5rem;
}
.navbar .logo{
   display: flex;
   gap: 10px;
   align-items: center; 
}
.navbar .logo h2{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 600PX;
}
.navbar .logo img {
    width:40px;
   
}
.navbar .link{
    display: flex;
    list-style: none;
    gap:75px
}

.navbar .link a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight:500 ;
    font-family: sans-serif;
    text-decoration: none;

}

.navbar .link a:hover{
        color: blue;
}
.navbar .log-in-button {
    border: none;
    outline: none;
    font-weight: 600;
    padding: 10px 18px;
    border-radius:3px;
    cursor: pointer;
    color: aliceblue;
    background: greenyellow;
}
body{
    font-family: cursive;
    background-color: white;
}



.cards{
display: inline-block;
width: 20%;
background-color: rgb(29, 198, 187);
border-radius: 5px;
margin: 40px;
/*box-shadow: 2px 2px 10px black;*/
}

.cards:hover{
    box-shadow: 2px 2px 10px rgb(232, 1, 232);
}

/* hum chahte hai ki image cards k andar aye hamesha*/
.image img{
    width: 100%;/*height ni badh rha*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title{
    text-align: center;
    margin: 3%; 
    padding: 3%;
}
.descrip{
    text-align: center;
}
button{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor:pointer;

}
button:hover{
    background-color: black;
    color: white; /*text colour k liye hai*/
    transition:.5s;
}

*{
    margin: 0;
    padding: 0;   
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 20px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.nam{
    font-size: large;
    padding: 0;
    font-weight: bold;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 0px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width:100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16px;
    color: #ccc;

}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media(max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}